<%- include('../partials/header') %>

    <table class="table tableCustom table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Style</th>
                <th>Origin No</th>
                <th>ABV</th>
            </tr>
        </thead>
        <tbody>
            <% beers.forEach(function(beer) { %>
                <tr>
                    <td>
                        <a href="/beers/<%= beer._id %>">
                            <%= beer.name %>
                        </a>
                    </td>
                    <td>
                        <%= beer.style %>
                    </td>
                    <td>
                        <%= beer.origin %>
                    </td>
                    <td>
                        <%= beer.abv %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <br>
    <div class="divBeerIndex">
        <form action="/beers/new"><button class="buttonCustom">Add Beer</button></form>
    </div>


    <%- include('../partials/footer') %>