<%- include('../partials/header') %>

    <form action="/beers" method="POST">
        <div class="divNewBeer">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>Style</td>
                        <td> <select name="style">
                                <option value="Pilsner">Pilsner</option>
                                <option value="Pale Ale">Pale Ale</option>
                                <option value="Stout">Stout</option>
                                <option value="Stout">Porter</option>
                                <option value="Stout">IPA</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>Origin</td>
                        <td><input type="text" name="origin"></td>
                    </tr>
                    <tr>
                        <td>ABV</td>
                        <td><input type="text" name="abv"></td>
                    </tr>
                    <tr>
                        <td>Brewery</td>
                        <td> <select name="breweries" id="breweryList">
                                <% breweries.forEach(function(brewery) { %>
                                    <option value="<%= brewery.id %>">
                                        <%= brewery.name %>
                                    </option>
                                    <% }); %>
                            </select></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <button>Add Beer</button>
            <br>
    </form>
    <br>
    <button id="refresh">Refresh Breweries</button>
    </div>
    <%- include('../partials/footer') %>

        <!-- 
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Style</th>
                <th>Origin No</th>
                <th>ABV</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" name="name"></td>
                <td><select name="style">
                        <option value="Pilsner">Pilsner</option>
                        <option value="Pale Ale">Pale Ale</option>
                        <option value="Stout">Stout</option>
                        <option value="Stout">Porter</option>
                        <option value="Stout">IPA</option>
                    </select>
                </td>
                <td><input type="text" name="origin"></td>
                <td><input type="text" name="abv"></td>
                <td><select name="breweries" id="breweryList">
                        <% breweries.forEach(function(brewery) { %>
                            <option value="<%= brewery.id %>">
                                <%= brewery.name %>
                            </option>
                            <% }); %>
                    </select>
                </td>
            </tr>
        </tbody>
    </table> -->