<%- include('../partials/header') %>

    <div id="divShow">
        <div id="divBeerShow">
            <p>&nbsp;</p>
            <p class="label">Name</p>
            <p class="value">
                <%= beer.name %>
            </p>
            <p class="label">Style</p>
            <p class="value">
                <%= beer.style %>
            </p>
            <p class="label">Origin</p>
            <p class="value">
                <%= beer.origin %>
            </p>
            <p class="label">ABV</p>
            <p class="value">
                <%= beer.abv %>
            </p>
        </div>




        <div id="divReviewShow">
            <h1>Hoptometrists are saying...</h1>

            <% if (user) { %>
                <form method="POST" action="/beers/<%= beer._id %>/reviews">
                    <label>Review:</label>
                    <!-- <textarea name="content"></textarea> -->
                    <input name="content" type="text">
                    <label>Rating:</label>
                    <select name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                    </select>
                    <button>Add Review</button>
                    <!-- <input type="submit" value="Add Review"> -->
                </form>
                <% } %>

                    <% if (beer.reviews.length) { %>
                        <% beer.reviews.forEach(function(review) { %>
                            <div class="card" id="reviewContainer">
                                <div class="card-header" id="reviewHeader">
                                    <% for(let i=review.rating ; i>0 ; i--) { %>
                                        <span class="fa fa-star checked"></span>
                                        <% } %>
                                            <% for(let j=5-review.rating ; j>0 ; j--) { %>
                                                <span class="fa fa-star"></span>
                                                <% } %>
                                                    <% if (user && review.user.equals(user._id)) { %>
                                                        &nbsp&nbsp
                                                        <form action="/reviews/<%= review._id %>/edit" method="GET">
                                                            <button type="submit" class="reviewChange">edit</button>
                                                        </form>
                                                        &nbsp&nbsp
                                                        <form action="/reviews/<%= review._id %>?_method=DELETE"
                                                            method="POST">
                                                            <button type="submit" class="reviewChange">delete</button>
                                                        </form>

                                                        <% } %>
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>
                                            <%= review.content %>
                                        </p>
                                        <footer class="blockquote-footer"><cite title="Source Title">
                                                <%= review.name %>
                                            </cite></footer>
                                    </blockquote>
                                </div>
                            </div>



                            <% }) %>

                                <% } %>


        </div>






        <div id="divBreweryShow">
            <h1>Available@</h1>
            <% if(user) { %>
                <form action="/beers/<%= beer._id %>/breweries" method="POST">
                    <select name="breweryId">
                        <% addList.forEach(function(b) { %>
                            <option value="<%= b._id %>">
                                <%= b.name %>
                            </option>
                            <% }) %>
                    </select>
                    <button type="submit">Add Brewery</button>
                </form>
                <% } %>
                    <ul class="value">
                        <% if (breweries && breweries[0]) { %>
                            <% breweries.forEach(function(b) { %>
                                <li>
                                    <%= b.name %>
                                </li>
                                <% }) %>
                                    <% } %>
                    </ul>
        </div>

    </div>

    <%- include('../partials/footer') %>